<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Solo queremos la fecha no la hora -->
<ion-modal [keepContentsMounted]="true">
	<ng-template>
		<ion-datetime
			id="datetime"
			presentation="date"
		></ion-datetime>
	</ng-template>
</ion-modal>
<ion-picker
	[isOpen]="isOpen"
	[columns]="Options"
	[buttons]="buTONS"
	(didDismiss)="setOpen(false)"
></ion-picker>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
	<br><br><br>
	<div class="container">
		<ion-list>
			<ion-item> <!-- nombre -->
				<ion-input
					label="Nombre:"
					labelPlacement="floating"
					name="name">
				</ion-input>
			</ion-item>
			<ion-item> <!-- apellido -->
				<ion-input
					label="Apellido:"
					labelPlacement="floating"
					name="apell">
				</ion-input>
			</ion-item>
			<ion-item class="row"><!-- lvl Educ -->
				<div class="col">
					<ion-button (click)="setOpen(true)">Nivel de Educacion</ion-button>
				</div>
				<div class="col centro">{{SelOpt}}</div>
			</ion-item>
			<ion-item> <!-- Cumpleaños Uwu -->
				<ion-datetime-button datetime="datetime"></ion-datetime-button>
			</ion-item>
		</ion-list>
		<ion-button [routerLink]="['/anim']">Anims</ion-button>
	</div>
	<br><br><br>
	<div class="container">
		<table>
			<tr>
				<th>id</th><th>nombre</th><th>Password</th>
			</tr>
			<tr *ngFor="let x of usuarios">
				<td>{{x.id}}</td>
				<td>{{x.nombre}}</td>
				<td>{{x.pass}}</td>
			</tr>
		</table>
	</div>
</ion-content>
<!-- 
	get userN and pass
	if name is the same in the table check pass
	if everything is the same get the id and send it to the other place
 -->